body {
	margin: 0;
	padding: 0;
	background-color: rebeccapurple;
}

a,
a:link,
a:visited,
a:active {
	color: #ccc;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #666;
}

.container {
	margin: 0 auto;
	padding-bottom: 2em;
	width: 75%;

}